@{
    ViewData["Title"] = "Home Page";
}

<h1 style="color:aqua">Add Color</h1>
<h1 style="background-color:antiquewhite">Add Background Color</h1>
<h1 style="font-size:100px">Add Size</h1>
<h1 style="font-family:'Times New Roman', Times, serif">Add Font Family</h1>
<h1 style="text-align:center">Add Alignment</h1>

<p style="color:blue;background-color:peachpuff;
font-size:70px;font-family:Arial;text-align:left">CLDV IS GOATED </p>
<!--Learning about headings -->
<h1>My First Heading</h1>
<p>My first paragraph</p>


<h1>First</h1>
<h2>Second</h2>
<h3>Third</h3>
<h4>Forth</h4>
<h5>Fifth</h5>

<p>This is a paragraph</p>
<p>This is also a paragraph</p>


<!--Learning about links -->
<a href="https://localhost:7114/Home/Privacy"> Privacy Page</a>

<br/>

<a href="https://www.google.com"> Google</a>

<!--Learning about images -->
<img src="~/Images/html.jpeg" alt="HTML" />


<p>
    Cloud Development <br/>
    Is The Best Module <br />
    Ever 
</p>