<h3> WELCOME @ViewBag.username</h3>

<p>Welcome to The Ride You Rent, your premier car rental destination. We are dedicated to providing you with a seamless and unforgettable car rental experience. Whether you're traveling for business or pleasure, our wide range of well-maintained vehicles and exceptional customer service will ensure that you ride in style and comfort. Discover the freedom of the open road with The Ride You Rent.</p>
<p> This is Nsikelelo Kumalo If you have any problems with the website please contact me with my email
    st10075585@vcconnect.edu.za
</p>
<a asp-controller="account" asp-action="logout">Logout</a>

