@model VarsityDatabase.Models.StudentModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student_Name" class="control-label"></label>
                <input asp-for="Student_Name" class="form-control" />
                <span asp-validation-for="Student_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_Surname" class="control-label"></label>
                <input asp-for="Student_Surname" class="form-control" />
                <span asp-validation-for="Student_Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_Email" class="control-label"></label>
                <input asp-for="Student_Email" class="form-control" />
                <span asp-validation-for="Student_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_Year" class="control-label"></label>
                <input asp-for="Student_Year" class="form-control" />
                <span asp-validation-for="Student_Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student_ZipCode" class="control-label"></label>
                <input asp-for="Student_ZipCode" class="form-control" />
                <span asp-validation-for="Student_ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
